
@keyframes LegendaryArtifact {
	from { filter: drop-shadow(0.1em 0.08em 0.2em #ff0); }
	to { filter: drop-shadow(0.1em 0.08em 0.4em #ff0); }
}

@keyframes DTArtifact {
	from { filter: drop-shadow(0.1em 0.08em 0.05em #f00); }
	to { filter: drop-shadow(0.1em 0.08em 0.4em #f00); }
}

/*
img[legendary="true"] {
	animation: LegendaryArtifact 2s alternate infinite ease-in-out;
}*/

.PrettyCards_Artifact_LEGENDARY {
	animation: LegendaryArtifact 2s alternate infinite ease-in-out;
}

/*
img[name="Cloudy Glasses"],
img[name="Crab Apple"],
img[name="Economics"],
img[name="Save"],
img[name="Sea Tea"],
img[name="Seap"],
img[name="Torn Notebook"],
img[name="True Justice"],
img[name="IQ"],
img[name="Hail"] {
	filter: drop-shadow(0.1em 0.08em 0.4em #00ca78);
}*/

.PrettyCards_Artifact_TOKEN {
	filter: drop-shadow(0.1em 0.08em 0.4em #00ca78);
}


/*
img[name="Genocide"],img[name="Outbreak"],img[name="Ultimate Fusion"] {
	animation: DTArtifact 1.5s alternate infinite ease-in-out;
}*/

.PrettyCards_Artifact_DETERMINATION {
	animation: DTArtifact 1.5s alternate infinite ease-in-out;
}

.PrettyCards_Artifact {
	width: 4em;
	height: 4em;
	margin: 0.5em;
	cursor: pointer;
}

/*
.PrettyCards_ScreenCover {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 1040;
}

.PrettyCards_HalfTransparentBG {
	background-color: rgba(0, 0, 0, 0.5);
}
*/

.PrettyCards_ArtifactDisplayBox {
	/*position: absolute;*/
	position: relative;
	margin-top: 150px;
	border: 5px solid white;
	background-color: black;
	padding: 12px;
	padding-top: 60px;
	background-position: center;
	background-size: cover;
}

.PrettyCards_ArtifactCircle {
	border-radius: 50%;
	width: 192px;
	height: 192px;
	border: 5px solid white;
	background-color: black;
	position: absolute;
	left: calc(50% - (192px / 2));
	top: -140px;
	overflow: hidden;
}

.PrettyCards_ArtifactImage {
	position: relative;
	width: 128px;
	height: 128px;
	top: 28px;
	left: 28px;
	perspective: 1px;
}

.PrettyCards_ArtifactDisplayName {
	font-size: 25px;
	text-align: center;
}

.PrettyCards_ArtifactDisplayRarity {
	font-size: 16px;
	text-align: center;
}

.PrettyCards_ArtifactDisplayDescription {
	margin-top: 25px;
	font-size: 16px;
}

.PrettyCards_ArtifactDisplayNoteTitle {
	margin-top: 30px;
	font-size: 2em;
}

.PrettyCards_SoulDisplay_SpellsHeader {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

.PrettyCards_SoulDisplay_Spells {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 61px;
}

.PrettyCards_SoulDisplay_Spells .card {
	margin: 5px;
}

.PrettyCards_ArtifactListRow {
	margin: 15px 0px;
	margin-left: 20px;
	min-height: 100px;
	position: relative;
}

.PrettyCards_ArtifactListBackground {
		/* background-color: #990000; */
		position: absolute;
		top: -7.5px;
		left: -35px;
		bottom: -7.5px;
		right: -15px;
		background-position: center;
		background-size: cover;
}

.PrettyCards_ArtifactListCircle {
	border-radius: 50%;
	width: 96px;
	height: 96px;
	border: 5px solid white;
	background-color: black;
	position: absolute;
	left: -110px;
	top: 0px;
	overflow: hidden;
	z-index: 2;
}

.PrettyCards_ArtifactListImage {
	position: relative;
    width: 96px;
    height: 96px;
    top: -5px;
    left: -5px;
	perspective: 1px;
}

.PrettyCards_ArtifactListName {
	font-size: 20px;
	padding-top: 5px;
	position: relative;
	z-index: 2;
}

.PrettyCards_ArtifactDisplayCounter {
	position: absolute;
	left: 330px;
	top: -20px;
	font-size: 3em;
	background-color: black;
	border: 5px solid white;
	width: 1.6em;
	height: 1.6em;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 1.35;
}

.PrettyCards_ArtifactListCounter {
	position: absolute;
	left: -50px;
	top: 55px;
	font-size: 1.5em;
	background-color: black;
	border: 5px solid white;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 1.55;
	z-index: 2;
}

.PrettyCards_ArtifactDisplayDisabled {
	font-size: 20px;
	text-align: center;
}

.PrettyCards_ArtifactListDescription {
	position: relative;
	z-index: 2;
}

.PrettyCards_ArtifactDisplay_TOKEN {
	filter: drop-shadow(0px 0px 10px #00c800);
}

.PrettyCards_ArtifactDisplay_RARE {
	filter: drop-shadow(0px 0px 10px rgb(0, 26, 255));
}

.PrettyCards_ArtifactDisplay_EPIC {
	filter: drop-shadow(0px 0px 12px purple);
	animation: EpicArtifactGlow 3s alternate infinite ease-in-out;
}

.PrettyCards_ArtifactDisplay_LEGENDARY {
	filter: drop-shadow(0px 0px 15px gold);
	animation: ArtifactFloat 2s alternate infinite ease-in-out;
}

.PrettyCards_ArtifactDisplay_Floating {
	animation: ArtifactFloat 2s alternate infinite ease-in-out;
}

.PrettyCards_ArtifactDisplay_DETERMINATION {
	animation: ArtifactFloat 2s alternate infinite ease-in-out;
}

.PrettyCards_ArtifactDisplay_DETERMINATION img {
	animation: DTArtifactGlow 3s alternate infinite ease-in-out;
}

.PrettyCards_ArtifactDisplay_MYTHIC {
	animation: ArtifactFloat 3s alternate infinite ease-in-out;
}

.PrettyCards_ArtifactDisplay_MYTHIC img {
	animation: MYTHICArtifactGlow 7s alternate infinite ease-in-out;
}

@keyframes ArtifactFloat {
	from { transform: translatey(12px);}
	to { transform: translatey(-12px);}
}

@keyframes EpicArtifactGlow {
	from {filter: drop-shadow(0px 0px 8px rgb(66, 0, 66));}
	to {filter: drop-shadow(0px 0px 12px rgb(194, 0, 194));}
}

@keyframes DTArtifactGlow {
	from {filter: drop-shadow(0px 0px 8px #660000);}
	to {filter: drop-shadow(0px 0px 20px #EE0000);}
}

@keyframes MYTHICArtifactGlow {
    0% {
        filter: drop-shadow(0px 0px 20px red)
    }

    17% {
        filter: drop-shadow(0px 0px 20px #ff0)
    }

    33% {
        filter: drop-shadow(0px 0px 20px #0f0)
    }

    50% {
        filter: drop-shadow(0px 0px 20px #0ff)
    }

    67% {
        filter: drop-shadow(0px 0px 20px #00f)
    }

    84% {
        filter: drop-shadow(0px 0px 20px #f0f)
    }

    100% {
        filter: drop-shadow(0px 0px 20px red)
    }
}

.PrettyCards_ArtifactDisplayShop {
	font-size: 1.4em;
    margin-top: 1.5em;
}

.PrettyCards_ArtifactDisplay_SoulArt_DETERMINATION {
	filter: drop-shadow(0px 0px 20px red);
}

.PrettyCards_ArtifactDisplay_SoulArt_BRAVERY {
	filter: drop-shadow(0px 0px 20px #fca500);
}

.PrettyCards_ArtifactDisplay_SoulArt_JUSTICE {
	filter: drop-shadow(0px 0px 20px #FFFF00);
}

.PrettyCards_ArtifactDisplay_SoulArt_KINDNESS {
	filter: drop-shadow(0px 0px 20px #00c000);
}

.PrettyCards_ArtifactDisplay_SoulArt_PATIENCE {
	filter: drop-shadow(0px 0px 20px #41fcff);
}

.PrettyCards_ArtifactDisplay_SoulArt_INTEGRITY {
	filter: drop-shadow(0px 0px 20px #0064ff);
}

.PrettyCards_ArtifactDisplay_SoulArt_PERSEVERANCE {
	filter: drop-shadow(0px 0px 20px #d535d9);
}

.PrettyCards_ArtifactDisplay_SoulArt_MONSTER {
	filter: drop-shadow(0px 0px 20px #ffffff);
}

.PrettyCards_ArtifactDisplay_SoulArt_SWITCH .PrettyCards_SplitSoul_Left img {
	filter: drop-shadow(0px 0px 20px #41FCFF);
}

.PrettyCards_ArtifactDisplay_SoulArt_SWITCH .PrettyCards_SplitSoul_Right img {
	filter: drop-shadow(0px 0px 20px #FF0000);
}