
.PrettyCards_ArtBG_Genocide {
    background-image: url(https://raw.githubusercontent.com/CMD-God/prettycards/master/img/ArtifactBackgrounds/Genocide.png);
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
}

.PrettyCards_ArtBG_DarkFountain {
    background-image: url(https://raw.githubusercontent.com/CMD-God/prettycards/master/img/ArtifactBackgrounds/Dark_Fountain.png);
    background-size: cover;
    background-position: center center;
}

.PrettyCards_ArtBG_UltimateFusion {
    background-image: url(https://raw.githubusercontent.com/CMD-God/prettycards/master/img/ArtifactBackgrounds/Ultimate_Fusion.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: top left;
}

.PrettyCards_ArtBG_FreeKromer {
    background-image: url(https://raw.githubusercontent.com/CMD-God/prettycards/master/img/ArtifactBackgrounds/FREE_KROMER.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom left;
}