
.PrettyCards_CardBottomLeftInfo {
    height: 16px;
    position: absolute;
    left: 13px;
    top: 106px;
    z-index: 8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.PrettyCards_CardBottomLeftInfo > img {
    height: 16px;
    cursor: help;
    margin-right: 2px;
}