
/*
.mainContent .avatarGroup {
    display: inline;
    position: relative;
    top: 15px;
}
*/

.PrettyCards_CosmeticsStar {
    display: none;
    position: absolute;
    text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
    font-size: 1.5em;
}

.avatarGroup .PrettyCards_CosmeticsStar {
    right: -42px;
    top: -62px;
}

*:hover > .PrettyCards_CosmeticsStar {
    display: block;
}

.PrettyCards_CosmeticsStar:hover {
    color: yellow;
}

