
#PrettyCards_CT_Phase1_LangaugeSelect {

}

#PrettyCards_CT_Phase1_LangaugeSelect > div {
    font-size: 2em;
    margin: 0.5em;
}

#PrettyCards_CT_Phase2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#PrettyCards_CT_Phase2_MainContent {
    min-width: 900px;
}

#PrettyCards_CT_Phase2_FilterRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.mainContent.PrettyCards_FullWidthMainContent {
    width: 100%;
}

.mainContent.PrettyCards_WiderMainContent {
    width: 1500;
}