
/*
.PrettyCards_Contributor {
    text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, rgba(102,0,255,1) 0%, rgba(102,0,255,1) 50%, rgba(254,255,0,1) 50%, rgba(254,255,0,1) 100%);
}
*/

.PrettyCards_Staff {
    color: rgb(113, 0, 205);
}

.Overachiever {
    color: #690000;
}

.Cutie {
    color: #FF67DC;
}

.Grassless {
    color: #92df4f;
}