
.cardImage {
	background-size:contain!important;
	background-position: center!important;
}

.cardRarity {
	background-size:contain!important; 
	background-position: center!important;
}

/*
.monster.ext_DDLC .cardFrame {
	background-image: url('https://raw.githubusercontent.com/CMD-God/prettycards/master/img/CardFrames/DDLC/frame_monster.png');
}

.spell.ext_DDLC .cardFrame {
	background-image: url('https://raw.githubusercontent.com/CMD-God/prettycards/master/img/CardFrames/DDLC/frame_spell.png');
}
*/

.monster.ext_LUNA .cardFrame {
	background-image: url('https://raw.githubusercontent.com/CMD-God/prettycards/master/img/CardFrames/LUNA/frame_monster.png');
}

.spell.ext_LUNA .cardFrame {
	background-image: url('https://raw.githubusercontent.com/CMD-God/prettycards/master/img/CardFrames/LUNA/frame_spell.png');
}

.card.ext_DDLC .cardBackground {
	background-image: url('https://raw.githubusercontent.com/CMD-God/prettycards/master/img/CardFrames/DDLC/frame_background.png'); 
	top: 7px; 
	height: 231px;
}

/*
@font-face {
	font-family: Aller;
	src: url(https://raw.githubusercontent.com/CMD-God/prettycards/master/fonts/Aller_Rg.ttf);
}
*/

.card.ext_DDLC {
	/*font-family: Aller;*/
}

.ext_DDLC .cardHeader, .ext_DDLC .cardFooter {
	background-color: rgb(0, 0, 0, 0); 
}

.card .breakingSkinBackground {
	pointer-events: none;
    width: 176px;
    height: 246px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.cardName.SWITCH div {
	display: inline-block;
}

.cardName.SWITCH div,.SWITCH {
	background: linear-gradient(to right, #42FCFF 50%, #FF0000 50%);
	text-shadow: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*display: inline-block;*/
}

.HATE {
	color: black;
	text-shadow: -1px -1px white, 1px 1px white, -1px 1px white, 1px -1px white;
}

.card:hover .glyphicon.PrettyCards_CardThemeSongPlayer {
	display: block;
}

.glyphicon.PrettyCards_CardThemeSongPlayer {
	display: none;
	font-size: 30px;
	position: absolute;
	top: 40px;
	left: 14px;
	cursor: pointer;
	z-index: 10;
}

.glyphicon.PrettyCards_CardThemeSongPlayer:hover {
	color:#41fcff;
}

.PrettyCards_CardThemeSongList {
	line-height: normal;
	background-color: rgb(230, 230, 230, 0.7);
	font-family: DTM-Mono;
	display: none;
	position: absolute;
    max-width: 118px;
	width: max-content;
	top: 0;
    left: 32px;
	flex-wrap: wrap;
	flex-direction: row;
}

.PrettyCards_CardThemeSongList .btn {
	margin: 0.5px;
	padding: 4px 8px;
}

.PrettyCards_CardThemeSongPlayer:hover .PrettyCards_CardThemeSongList,.PrettyCards_CardThemeSongList:hover {
	display: flex;
}

.PrettyCards_TransparentText {
	color: rgba(1, 1, 1, 0);
	text-shadow: none;
}

#PrettyCards_CustomCardCategories {
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
}

.PrettyCards_CardCollection {
	background-color: #111111;
	/*width: calc(50% - 0.5em);*/
	margin: 0.25em;
	padding: 0.4em 0.6em;
	cursor: pointer;
}

.PrettyCards_CollectionName {
	font-size: 2em;
}

.PrettyCards_CollectionAuthor {
	font-size: 1.5em;
}

.PrettyCards_CollectionDetails {
	font-size: 1.2em;
	/*float: right;*/
}

.PrettyCards_BigCollectionName {
	width: 100%;
	font-size: 3em;
	text-align: center;
}

.PrettyCards_BigCollectionAuthor {
	width: 100%;
	font-size: 2em;
	text-align: right;
}

.PrettyCards_Soul {
	width: 4em;
	height: 4em;
	margin: 0.5em;
	cursor: pointer;
}

.PrettyCards_CollectionBackButton {
	font-size: 1.5em;
	cursor: pointer;
}

.PrettyCards_CollectionBackButton:hover {
	color: #41fcff;
}

#PrettyCards_CardsShowcase,#PrettyCards_ArtifactsShowcase,#PrettyCards_SoulsShowcase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#PrettyCards_CardsShowcase .card {
	margin: 2px;
}

#PrettyCards_CollectionHeaderTop {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.PrettyCards_CollectionNew_Soultifact {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.PrettyCards_CollectionNew_SoultifactImage {
	width: 7em;
	height: 7em;
	margin-right: 1em;
	cursor: pointer;
	top: 0px;
	left: 0px;
	transform: scale(1.5);
}

.PrettyCards_CollectionNew_SoultifactName {
	font-size: 2.5em;
	width: fit-content;
}

.PrettyCards_CollectionNew_SoultifactRarity {
	font-size: 1.2em;
}

.PrettyCards_CustomCardsShowcaseScreenshot {
	background-color: black;
    padding: 1em;
    border: 5px solid white;
}