
#PrettyCards_MassCraft_SoulDeckRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#PrettyCards_MassCraft_SoulDeckRow img {
    width: 32px;
}

#PrettyCards_MassCraft_Artifacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.PrettyCards_MassCraft_ArtifactSlot {
    margin-left: 10px;
}

@keyframes PrettyCards_MassCraft_MissingArtifact {
    to {
        color: red;
        border-color: red;
    }
}

.PrettyCards_MassCraft_MissingArtifact {
    animation: PrettyCards_MassCraft_MissingArtifact alternate 2s infinite;
    animation-timing-function: ease-in-out;
}

#PrettyCards_MassCraft_ModeSelectRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 0.5em;
}

.PrettyCards_MassCraft_ModeSelectBtn {
    border: 1px solid #222222;
    padding: 0.5em 0.6em;
    text-align: center;
    width: 50%;
    height: 100%;
}

.PrettyCards_MassCraft_ModeSelectBtn:hover {
    background-color: #333333;
}

.PrettyCards_MassCraft_ModeSelected {
    background-color: #434343;
}

.PrettyCards_MassCraft_NotHave .cardFrame {
    -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(310deg) saturate(500%) contrast(1.5);
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(310deg) saturate(500%) contrast(1.5);
}

#PrettyCards_MassCraft_CardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-height: 600px;
    overflow-y: auto;
    padding: 20px;
}

#PrettyCards_MassCraft_BuyRow {
    margin-top: 1em;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.normalArtifact {
    border-color: white;
}

.baseArtifact {
    border: 1px solid rgb(68, 68, 68);
}

.tokenArtifact {
    border: 1px solid rgb(11, 135, 0);
}

.determinationArtifact,.dtArtifact {
    border: 1px solid rgb(207, 0, 0);
}

.rareArtifact {
    border: 1px solid rgb(20, 0, 204);
}

.epicArtifact {
    border: 1px solid rgb(115, 0, 186);
}

.mythicArtifact {
    animation: mythicBorder 2s infinite;
}

@keyframes mythicBorder {
    0% {
        border: 1px solid red
    }

    17% {
        border: 1px solid #ff0
    }

    33% {
        border: 1px solid #0f0
    }

    50% {
        border: 1px solid #0ff
    }

    67% {
        border: 1px solid #00f
    }

    84% {
        border: 1px solid #f0f
    }

    100% {
        border: 1px solid red
    }
}