
#PrettyCards_TopAdvert {
    width: 100%;
    text-align: center;
    background-color: #3192e7;
    padding: 0.3em;
    font-size: 1.2em;
    position: relative;
    height: 36px;
}

#PrettyCards_TopAdvert_CloseButtons {
    top: 0.3em;
    right: 0.5em;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    color: white;
}

#PrettyCards_TopAdvert_CloseButtons > div {
    margin: 0 0.2em;
}

#PrettyCards_TopAdvert_CloseButtons > div:hover {
    color: #888888;
}
