
#PrettyCards_TopAdvert {
    width: 100%;
    text-align: center;
    background-color: #3192e7;
    padding: 0.3em;
    font-size: 1.2em;
    position: relative;
    height: 2em;
}

#PrettyCards_TopAdvert_Close {
    color: white;
    position: absolute;
    right: 0.5em;
    cursor: pointer;
}

#PrettyCards_TopAdvert_Close:hover {
    color: #888888;
}