
.PrettyCards_PacksRow {
	text-align: center;
	width: 100%;
}

.PrettyCards_PackCell {
	display: inline-block;
	width: 32%;
	text-align: center;
}

.PrettyCards_PackBuyCount, .PrettyCards_PackOpenCount {
	width: 4em;
	background-color: black;
	border: 2px solid white;
}

.PrettyCards_PackName {
	font-size: 2.2em;
}

.PrettyCards_PackDescription {
	font-size: 1.1em;
}

.PrettyCards_PackText div {
	margin-bottom: 8px;
	display: none;
}

.PrettyCards_PackCell:hover .PrettyCards_PackText {
	display: initial;
}

.PrettyCards_FloatingPack {
	width: 100%;
	margin: 0px;
}