
.PrettyCards_MainContainer {
	width: 100%;
	margin: 0px;
}

.PrettyCards_PacksRow {
	text-align: center;
	width: 100%;
}

.PrettyCards_PackCell {
	display: inline-block;
	width: 32%;
	text-align: center;
	position: relative;
}

.PrettyCards_PackBuyCount, .PrettyCards_PackOpenCount {
	width: 4em;
	background-color: black;
	border: 2px solid white;
}

.PrettyCards_PackName {
	font-size: 2.2em;
}

.PrettyCards_PackDescription {
	font-size: 1.1em;
}

.PrettyCards_PackText div {
	margin-bottom: 8px;
}

.PrettyCards_PackText {
	overflow-y: hidden;
	position: absolute;
	width: 100%;
}

.PrettyCards_FloatingPack {
	width: 100%;
	margin: 0px;
	position: relative;
	top: 0px;
	animation: upDown 1.5s alternate infinite ease-in-out;
}

.PrettyCards_FloatingPackImage {
	width: 60%;
	margin: 0px;
	mask-image: url(https://raw.githubusercontent.com/CMD-God/prettycards/master/img/Packs/Pack_mask.svg);
	mask-position: center;
	mask-size: cover;
	-webkit-mask-image: url(https://raw.githubusercontent.com/CMD-God/prettycards/master/img/Packs/Pack_mask.svg);
	-webkit-mask-position: center;
	-webkit-mask-size: cover;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.PrettyCards_PackAmount {
	position: absolute;
	bottom: 0px;
	width: 100%;
	right: 0px;
	text-align: center;
	font-size: 4em;
	color: gold;
	background-color: rgba(0, 0, 0, 0.6);
}

.PrettyCards_InvisiblePack { /*Since the element does not stretch for the background, we are gonna force it to take up the right shape with an invisible version of the image!*/
	width:100%;
	opacity: 0;
}

.PrettyCards_PackSpacer {
	height: 15em;
}

.PrettyCards_HalfPackSpacer {
	height: 7.5em;
}

.PrettyCards_ThirdPackSpacer {
	height: 5em;
}

@keyframes upDown {
  to { transform: translatey(-2em);}
}

.PrettyCards_PacksRow.PrettyCards_WideTemplate {
	position: absolute;
	width: 100%;
	left: 0px;
}

.PrettyCards_PacksRow.PrettyCards_WideTemplate .PrettyCards_PackCell {
	width: 19%;
}

#cardsOpen {
	display: none;
}

.PrettyCards_AnimationPack {
	position: absolute;
}
