
.PrettyCards_PacksRow {
	text-align: center;
	width: 100%;
}

.PrettyCards_PackCell {
	display: inline-block;
	width: 32%;
	text-align: center;
	position: relative;
}

.PrettyCards_PackBuyCount, .PrettyCards_PackOpenCount {
	width: 4em;
	background-color: black;
	border: 2px solid white;
}

.PrettyCards_PackName {
	font-size: 2.2em;
}

.PrettyCards_PackDescription {
	font-size: 1.1em;
}

.PrettyCards_PackText div {
	margin-bottom: 8px;
}

.PrettyCards_PackText {
	overflow-y: hidden;
	position: absolute;
}

.PrettyCards_FloatingPackImage {
	width: 60%;
	margin: 0px;
	position: relative;
	top: 0px;
}

.PrettyCards_PackSpacer {
	height: 15em;
}