
.PrettyCards_PersonaBorder {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    aspect-ratio: 13/2;
    clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
    z-index: 222;
}

.PrettyCards_PersonaBack {
    background-color: #000000;
    width: auto;
    height: 100%;
    margin: 1% 0px;
    clip-path: polygon(3% 4%, 99% 5%, 96% 96%, 0% 98%);
}