
.game-mode:not(.closed):hover {
	opacity: .7;
	cursor: pointer;
}

.game-mode {
	text-align: center;
	margin: 5px;
	width: 280px;
	height: 230px;
}

.tippy-box[data-theme~='invisible'] {
	background-color: tomato;
	color: yellow;
}