
.game-mode:not(.closed):hover {
	opacity: .7;
	cursor: pointer;
}

.game-mode {
	text-align: center;
	margin: 5px;
	width: 280px;
	height: 230px;
}

.PrettyCards_GamemodeContainer {
	width: 100%;
	display: flex;
}

.PrettyCards_GamemodeDeck {
	width: 280px;
	margin: 5px;
	height: 240px;
}

.PrettyCards_Gamemodes {
	display: flex; 
}