
.PrettyCards_DecklistSoulsContainer {
	text-align:center;
	width: 100%;
}

.PrettyCards_DeckListContainer {
	width: 100%;
	height: 640px;
	overflow-y: auto;
}

.PrettyCards_DeckHeader {
	font-size: 30px;
	padding-left: 50px;
	padding-bottom: 4px;
	padding-top: 4px;
}

.PrettyCards_DeckHeader.DETERMINATION {
	color: black;
	background-color: #FF0000;
}

.PrettyCards_DeckHeader.BRAVERY {
	color: black;
	background-color: #FCA500;
}

.PrettyCards_DeckHeader.JUSTICE {
	color: black;
	background-color: #FFFF00;
}

.PrettyCards_DeckHeader.KINDNESS {
	color: black;
	background-color: #00C000;
}

.PrettyCards_DeckHeader.PATIENCE {
	color: black;
	background-color: #41FCFF;
}

.PrettyCards_DeckHeader.INTEGRITY {
	color: black;
	background-color: #0064FF;
}

.PrettyCards_DeckHeader.PERSEVERANCE {
	color: black;
	background-color: #D535D9;
}

.PrettyCards_DeckHeader.MONSTER {
	color: black;
	background-color: #FFFFFF;
}

.PrettyCards_DeckHeader.SWITCH {
	color: black;
	background: linear-gradient(to right, #ff0000 50%, #42FCFF 50%);
}

.PrettyCards_DeckListContainer .card {
	display: inline-block;
	margin: 5px 0px;
}

.card.PrettyCards_DeckCard .cardCost {
	display: none;
}

.card.PrettyCards_DeckCard .cardName {
	width: 160px;
}

.card.PrettyCards_DeckCard .cardRarity {
	display: none;
}

.PrettyCards_DeckCardErase {
	height: 25px;
	width: 160px;
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
	left: 8px;
	top: 212px;
	text-align: center;
	color: red;
    font-size: 25px;
    line-height: 25px;
	z-index: 8;
}

.PrettyCards_DeckCardErase:hover {
	color: #880000;
}

.PrettyCards_ChooseDeckScreenContainer {
	position: relative;
}

.PrettyCards_DeckListCloseButton {
	font-size: 25px;
	margin: 8px 5px;
}

.card.PrettyCards_BaseDeckCard .cardBackground {
	box-shadow: gold 0px 0px 5px 5px;
}

.PrettyCards_DeckListHeader {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}