
.PrettyCards_DecklistSoulsContainer {
	text-align:center;
}

.PrettyCards_DeckListContainer {
	width: 840px;
	height: 500px;
	overflow-y: auto;
}

.PrettyCards_DeckHeader {
	font-size: 30px;
	padding-left: 50px;
	padding-bottom: 4px;
	padding-top: 4px;
}

.PrettyCards_DeckHeader.DETERMINATION {
	color: black;
	background-color: #FF0000;
}

.PrettyCards_DeckHeader.BRAVERY {
	color: black;
	background-color: #FCA500;
}

.PrettyCards_DeckHeader.JUSTICE {
	color: black;
	background-color: #FFFF00;
}

.PrettyCards_DeckHeader.KINDNESS {
	color: black;
	background-color: #00C000;
}

.PrettyCards_DeckHeader.PATIENCE {
	color: black;
	background-color: #41FCFF;
}

.PrettyCards_DeckHeader.INTEGRITY {
	color: black;
	background-color: #0064FF;
}

.PrettyCards_DeckHeader.PERSEVERANCE {
	color: black;
	background-color: #D535D9;
}

.PrettyCards_DeckListContainer .card {
	display: inline-block;
	margin: 5px 10px;
}