
.PrettyCards_SmallSoul {
	height: 32px;
	margin: 1.5px;
}

.PrettyCards_NormalSoul {
	height: 64px;
	margin: 2px;
}

.PrettyCards_Soul_DETERMINATION.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_DETERMINATION {
	filter: drop-shadow(0px 0px 15px #ff0000);
}

.PrettyCards_Soul_BRAVERY.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_BRAVERY {
	filter: drop-shadow(0px 0px 15px #fca500);
}

.PrettyCards_Soul_JUSTICE.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_JUSTICE {
	filter: drop-shadow(0px 0px 15px #ffff00);
}

.PrettyCards_Soul_KINDNESS.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_KINDNESS {
	filter: drop-shadow(0px 0px 15px #00c000);
}

.PrettyCards_Soul_PATIENCE.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_PATIENCE {
	filter: drop-shadow(0px 0px 15px #41fcff);
}

.PrettyCards_Soul_INTEGRITY.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_INTEGRITY {
	filter: drop-shadow(0px 0px 15px #0064ff);
}

.PrettyCards_Soul_PERSEVERANCE.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_PERSEVERANCE {
	filter: drop-shadow(0px 0px 15px #d535d9);
}

.PrettyCards_Soul_MONSTER.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_MONSTER {
	filter: drop-shadow(0px 0px 15px #ffffff);
}

/*
.PrettyCards_Soul_SWITCH.PrettyCards_SelectedSoul,.PrettyCards_DisplaySoul_SWITCH {
	filter: drop-shadow(0px 0px 15px #D400FF);
}
*/

.PrettyCards_DisplaySoul_SWITCH:first-child {
	filter: drop-shadow(0px 0px 15px #41FCFF);
}

.PrettyCards_DisplaySoul_SWITCH {
	filter: drop-shadow(0px 0px 15px #FF0000);
}

.PrettyCards_SelectedSoul.PrettyCards_NormalSoul {
	animation: SoulFloatNormal 1.5s alternate infinite ease-in-out;
}

@keyframes SoulFloatNormal {
	to { transform: translatey(-15px);}
}

.PrettyCards_SelectedSoul.PrettyCards_SmallSoul {
	animation: SoulFloatSmall 1.5s alternate infinite ease-in-out;
}

@keyframes SoulFloatSmall {
	to { transform: translatey(-8px);}
}

.tippy-box[data-inertia][data-state='visible'] {
	transition-timing-function: cubic-bezier(1,1,0,0);
}

.PrettyCards_DeckTooltip {
	text-align: left;
}

.PrettyCards_ArtifactContainer {
	margin-bottom: 8px;
}

.PrettyCards_ChallengeMessageButton {
	margin-left: 10px;
}

.PrettyCards_SplitSoul_Container {
	position: relative;
	width: 256px;
	height: 256px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	top: -28px;
	left: -36px;
}

.PrettyCards_SplitSoul_Left,.PrettyCards_SplitSoul_Right {
	width: 128px;
	height: 256px;
	position: relative;
	overflow-x: hidden;
}

.PrettyCards_SplitSoul_Container img {
	width: 128px;
	height: 128px;
	transform: translate(-50%, -50%);
	top: 50%;
	position: absolute;
}

.PrettyCards_SplitSoul_Left img {
	left: 100%;
}

.PrettyCards_SplitSoul_Right img {
	left: 0px;
}