
.PrettyCards_SwitchLeft {
    /*
    text-shadow: -1px -1px rgb(0, 255, 255), 1px 1px cyan, -1px 1px cyan, 1px -1px cyan;
    color:rgb(0, 255, 255);
    */
    padding: 0px 0.2em;
    border-radius: 0.3em;
    background-color: rgba(0, 255, 255, 0.4);
}

.PrettyCards_SwitchRight {
    /*
    text-shadow: -1px -1px red, 1px 1px red, -1px 1px red, 1px -1px red;
    color: red;
    */
    padding: 0px 0.2em;
    border-radius: 0.3em;
    background-color: rgba(255, 0, 0, 0.4);
}