
.PrettyCards_SwitchHighlight_Cyan {
    /*
    text-shadow: -1px -1px rgb(0, 255, 255), 1px 1px cyan, -1px 1px cyan, 1px -1px cyan;
    color:rgb(0, 255, 255);
    */
    padding: 0px 0.2em;
    border-radius: 0.3em;
    background-color: rgba(0, 255, 255, 0.4);
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.PrettyCards_SwitchHighlight_Red {
    /*
    text-shadow: -1px -1px red, 1px 1px red, -1px 1px red, 1px -1px red;
    color: red;
    */
    padding: 0px 0.2em;
    border-radius: 0.3em;
    background-color: rgba(255, 0, 0, 0.4);
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

#yourSide, #yourSide > td {
    -webkit-transition: .3s;
    transition: .3s;
}

#yourSide.PrettyCards_SwitchHighlight_SwitchBoard > td[x="0"], #yourSide.PrettyCards_SwitchHighlight_SwitchBoard > td[x="1"] {
    box-shadow: inset 0 0 20px 1px cyan;
}

#yourSide.PrettyCards_SwitchHighlight_SwitchBoard > td[x="2"], #yourSide.PrettyCards_SwitchHighlight_SwitchBoard > td[x="3"] {
    box-shadow: inset 0 0 20px 1px red;
}

#yourSide.PrettyCards_SwitchHighlight_SwitchBoard_Cyan > td[x="2"], #yourSide.PrettyCards_SwitchHighlight_SwitchBoard_Cyan > td[x="3"] {
    box-shadow: inset 0 0 5px 1px rgba(255, 0, 0, 0.5);
}

#yourSide.PrettyCards_SwitchHighlight_SwitchBoard_Red > td[x="0"], #yourSide.PrettyCards_SwitchHighlight_SwitchBoard_Red > td[x="1"] {
    box-shadow: inset 0 0 5px 1px rgba(0, 255, 255, 0.5);
}

@keyframes EndgameBoard {
    from {
        -webkit-box-shadow: inset 0px 0px 15px 2px #00FFFF, inset 0px 0px 15px 2px #FF0000; 
        box-shadow: inset 0px 0px 15px 2px #00FFFF, inset 0px 0px 15px 2px #FF0000;
    }
    to {
        -webkit-box-shadow: inset 0px 0px 15px 2px #FF0000, inset 0px 0px 15px 2px #00FFFF; 
        box-shadow: inset 0px 0px 15px 2px #FF0000, inset 0px 0px 15px 2px #00FFFF;
    }
}

@keyframes EndgameBoard2 {
    0% {
        -webkit-box-shadow: inset 0px 0px 20px 1px #00FFFF; 
        box-shadow: inset 0px 0px 20px 1px #00FFFF;
    }
    50% {
        -webkit-box-shadow: inset 0px 0px 20px 1px #00FFFF; 
        box-shadow: inset 0px 0px 20px 1px #00FFFF;
    }
    51% {
        -webkit-box-shadow: inset 0px 0px 20px 1px #ff0000; 
        box-shadow: inset 0px 0px 20px 1px #ff0000;
    }
    100% {
        -webkit-box-shadow: inset 0px 0px 20px 1px #ff0000; 
        box-shadow: inset 0px 0px 20px 1px #ff0000;
    }
}


#yourSide.PrettyCards_SwitchHighlight_SwitchBoard.PrettyCards_SwitchHighlight_EndgameBoard {
    animation-name: EndgameBoard;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


#yourSide.PrettyCards_SwitchHighlight_SwitchBoard {
    box-shadow: none;
    animation: none;
}

/*
#yourSide.PrettyCards_SwitchHighlight_SwitchBoard.PrettyCards_SwitchHighlight_EndgameBoard > td {
    animation-name: EndgameBoard2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
*/

#yourSide.PrettyCards_SwitchHighlight_SwitchBoard.PrettyCards_SwitchHighlight_EndgameBoard > td:nth-child(2n) {
    animation-direction: alternate-reverse;
}