
@font-face {
    font-family: DTM-Mono;
    src: url("../fonts/DTM-Mono.otf");
}

html {
    font-family: DTM-Mono;
}

.PrettyCards_Hidden {
    display: none!important;
}

.centeredText {
    text-align: center;
}
