
@font-face {
    font-family: DTM-Mono;
    src: url(./../fonts/DTM-Mono.otf);
}

body {
    background-color: black;
    color: white;
    font-family: DTM-Mono;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1em;
}

#mainContent {
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mainTitle {
    text-align: center;
    font-size: 60px;
    margin: 0.1em;
}

.mainSubtitle {
    text-align: center;
    font-size: 1.4em;
}

.chapterTitle {
    font-size: 48px;
    text-align: center;
}

#undertaleContainer {
    height: 750px;
    margin: auto;
    aspect-ratio: 640/480;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
}

#undertaleBox {
    border: 5px solid white;
    background-color: black;
    margin-bottom: 40px;
    padding: 25px;
    flex: 1 1 auto;
}

#undertaleBox:focus-within {
    border-color: yellow;
}

#undertaleButtonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 84px;
}

.undertaleButton {
    height: 63px;
    width: 165px;
    background-image: url("../img/Hue.png");
    background-position: center;
    background-size: contain;
    position: relative;
}

.undertaleButton[btn="about_big"] {
    background-image: url("../img/buttons/about_0.png");
}

.undertaleButton:hover[btn="about_big"] {
    background-image: url("../img/buttons/about_1.png");
}

.undertaleButton[btn="install_big"] {
    background-image: url("../img/buttons/install_big_0.png");
}

.undertaleButton:hover[btn="install_big"] {
    background-image: url("../img/buttons/install_big_1.png");
}

.undertaleButton[btn="call_big"] {
    background-image: url("../img/buttons/call_big_0.png");
}

.undertaleButton:hover[btn="call_big"] {
    background-image: url("../img/buttons/call_big_1.png");
}

.undertaleButton:hover::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/red_heart.png");
    position: absolute;
    background-position: center;
    background-size: contain;
    top: 20px;
    left: 12px;
}

#sectionRadios {
    position: absolute;
    left: -200vw;
}

#undertaleBox .tab {
    display: none;
}

#sectionRadios > input:first-child:checked ~ #undertaleBox > .tab:first-child,
#sectionRadios > input:nth-child(2):checked ~ #undertaleBox > .tab:nth-child(2),
#sectionRadios > input:nth-child(3):checked ~ #undertaleBox > .tab:nth-child(3),
#sectionRadios > input:nth-child(4):checked ~ #undertaleBox > .tab:nth-child(4) {
  display: block;
}