
@font-face {
    font-family: DTM-Mono;
    src: url("../fonts/DTM-Mono.otf");
}

html {
    font-family: DTM-Mono;
    background-color: black;
}

.PrettyCards_Hidden {
    display: none!important;
}

.centeredText {
    text-align: center;
}

.cubeSide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.stage {
    width: 400px;
    height: 400px;
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: top right;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: cubeRotate 10s linear infinite;
}

.front {
    transform: translateZ(100px);
}

.back {
    transform: translateZ(-100px);
}

.left {
    
    transform: rotateY(90deg) translateZ(100px);
}
  
.right {
    transform: rotateY(-90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}
   
.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes cubeRotate {
    from { transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg); }
    to { transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg); }
}

.style0 .front {
    background-color: #d50000;
}

.style0 .back {
    background-color: #aa00ff;
}

.style0 .left {
    background-color: #304ffe;
}

.style0 .right {
    background-color: #0091ea;
}

.style0 .top {
    background-color: #00Bfa5;
}

.style0 .bottom {
    background-color: #64dd17;
}

.style0 .cubeSide {
    border: 2px solid white;
    opacity: 0.9;
}

.style1 .cubeSide {
    border: 2px solid black;
    opacity: 1;
    background-image: url("../svg/Onu_SVG.svg");
    background-color: black;
}