
.PrettyCards_ArtBG_Legendary {
    box-shadow: inset 0 0 10px 1px rgb(255, 255, 0);
    animation: LegendaryShadow 3s infinite ease-in-out alternate;
}

@keyframes LegendaryShadow {
    0% {
        box-shadow: inset 0 0 10px 1px rgb(255, 255, 0);
    }
    100% {
        box-shadow: inset 0 0 20px 2px rgb(255, 255, 0);
    }
}

.PrettyCards_ArtifactListBackground {
    box-shadow: inset 0 0 10px 5px #000000;
}

.PrettyCards_ArtBG_Genocide {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Genocide.png);
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
}

.PrettyCards_ArtBG_DarkFountain {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Dark_Fountain.png);
    background-size: cover;
    background-position: center center;
}

.PrettyCards_ArtBG_UltimateFusion {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Ultimate_Fusion.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: top left;
}

.PrettyCards_ArtBG_FreeKromer {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/FREE_KROMER.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom left;
}

.PrettyCards_ArtBG_WornDagger {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Worn_Dagger.png);
    background-size: cover;
    background-position: center center;
}

.PrettyCards_ArtBG_ToughGlove {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Tough_Glove.png);
    background-size: cover;
    background-position: center right;
}

.PrettyCards_ArtBG_EmptyGun {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Empty_Gun.png);
    background-size: cover;
    background-position: top left;
}

.PrettyCards_ArtBG_BurntPan {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Burnt_Pan.png);
    background-size: cover;
    background-position: center left;
}

.PrettyCards_ArtBG_ToyKnife {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Toy_Knife.png);
    background-size: cover;
    background-position: bottom left;
}

.PrettyCards_ArtBG_BalletShoes {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Ballet_Shoes.png);
    background-size: cover;
    background-position: center center;
}

.PrettyCards_ArtBG_TornNotebook {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Torn_Notebook.png);
    background-size: cover;
    background-position: top left;
}

.PrettyCards_ArtBG_MagicWand {
    background-image: url(https://raw.githubusercontent.com/elytrafae/prettycards/master/img/ArtifactBackgrounds/Magic_Wand.png);
    background-size: cover;
    background-position: top center;
}

