
.PrettyCards_GameEnd_Backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: black;
    overflow: auto;
    z-index: 14;
}

.PrettyCards_GameEnd_Content {
    width: 900px;
    min-height: 100%;
    padding: 15px 0;
    margin: auto;
}

.PrettyCards_GameEnd_Title {
    font-size: 10em;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0.3em;
}

.DTFragment {
    color: #990000;
    text-shadow: 0 0 10px #FF0000;
}

.PrettyCards_GameEnd_RewardSourceContainer::before {
    content: " ";
}

.PrettyCards_GameEnd_RewardRow {
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}

.PrettyCards_GameEnd_RewardRow img {
    height: 32px;
}

.PrettyCards_GameEnd_BarRow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.PrettyCards_GameEnd_Content .glyphicon {
    position: relative;
}

.PrettyCards_GameEnd_Tooltip {
    position: absolute;
    bottom: 100%;
    translate: -50% 0;
    left: 50%;
    display: none;
    white-space: nowrap;
}

*:hover > .PrettyCards_GameEnd_Tooltip {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

* > .PrettyCards_GameEnd_Tooltip:hover {
    display: none;
}

.PrettyCards_GameEnd_TooltipText {
    background-color: #303030;
    font-family: DTM-Mono;
    padding: 0.3em 0.4em;
    border-radius: 0.3em;
    color: white;
    font-size: 0.8em;
    text-shadow: none;
}

.PrettyCards_GameEnd_TooltipArrow {
    background-color: #303030;
    width: 0.5em;
    height: 0.5em;
    transform: rotate(45deg);
    translate: 0 -50%;
    z-index: -1;
}

.PrettyCards_GameEnd_BarText {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    opacity: 0.6;
    top: 0;
    left: 0;
}

.PrettyCards_XPBarText {
    color: #000000;
}

.PrettyCards_GameEnd_LeaveRow {
    text-align: center;
    margin-top: 20px;
    scale: 1.2;
}

.PrettyCards_GameEnd_FriendshipCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.PrettyCards_GameEnd_FriendshipHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 15px;
}

.PrettyCards_GameEnd_Backdrop .friendship-not-claimed .cardFrame {
    -webkit-filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(100deg) saturate(500%) contrast(1.5);
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(100deg) saturate(500%) contrast(1.5)
}

.PrettyCards_GameEnd_Backdrop .friendship-not-claimed .cardBackground {
    box-shadow: 0 0 10px 5px #4fff00
}

.PrettyCards_GameEnd_Backdrop .friendship-not-claimed:hover {
    opacity: 0.8;
}

.PrettyCards_GameEnd_QuestRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 60px;
    border-top: 1px solid #ddd;
}

.PrettyCards_GameEnd_QuestRow img {
    height: 32px;
}

.PrettyCards_GameEnd_QuestText {
    padding: 0.5em;
    width: 100%;
}

.PrettyCards_GameEnd_QuestProgress {
    min-width: 190px;
}

.PrettyCards_GameEnd_QuestReward {
    min-width: 100px;
    text-align: center;
}