
.game-mode:not(.closed):hover {
	opacity: .7;
	cursor: pointer;
}

.game-mode {
	text-align: center;
	margin: 5px;
	width: 280px;
	height: 230px;
}

.PrettyCards_GamemodeContainer {
	display: flex;
	width: 1000px;
}

.PrettyCards_GamemodeDeck {
	width: 280px;
	margin: 5px;
	height: 240px;
	display: flex;
	flex-direction: column;
}

.PrettyCards_Gamemodes {
	display: flex;
	flex-wrap: wrap;
	width: 580px;
}

.PrettyCards_GamesList {
	width: 580px;
}

#PrettyCards_DeckContainer {
	display: flex;
	justify-content: space-evenly;
}

#PrettyCards_DeckArtifacts {
	margin-top: 20px;
	text-align: center;
}

#PrettyCards_SeasonRewards {
	margin-top: 40px;
	text-align: center;
}

#PrettyCards_JoinCreate {
	margin-top: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

#PrettyCards_JoinCreate button {
	display: block;
	margin: 5px;
}
