
:root {
    --cube-size: 300px;
}

.cubeSide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.stage {
    width: calc(var(--cube-size) * 2);
    height: calc(var(--cube-size) * 2);
    /*
    border: 2px solid white;
    border-radius: 4px;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: calc(var(--cube-size) * 4);
    perspective-origin: top right;
}

.cube {
    position: relative;
    width: var(--cube-size);
    height: var(--cube-size);
    transform-style: preserve-3d;
    animation: cubeRotate 7s linear infinite;
}

.front {
    transform: translateZ(calc(var(--cube-size) / 2));
}

.back {
    transform: translateZ(calc(var(--cube-size) / 2 * -1));
}

.left {
    
    transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2));
}
  
.right {
    transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2));
}
   
.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2));
}

@keyframes cubeRotate {
    from { transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg); }
    to { transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg); }
}

.style0 .front {
    background-color: #d50000;
}

.style0 .back {
    background-color: #aa00ff;
}

.style0 .left {
    background-color: #304ffe;
}

.style0 .right {
    background-color: #0091ea;
}

.style0 .top {
    background-color: #00Bfa5;
}

.style0 .bottom {
    background-color: #64dd17;
}

.style0 .cubeSide {
    border: 2px solid white;
    opacity: 0.9;
}

.style1 .cubeSide {
    border: 2px solid red;
    opacity: 1;
    background-image: url("../svg/Onu_SVG.svg");
    background-color: black;
}

.stageFadeIn {
    animation: stageFade 3s 1;
}

@keyframes stageFade {
    from {opacity: 0;}
    to {opacity: 1;}
}